<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>影讯管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(6)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">影院后台</h2>
        <a href="#" class=" item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="film icon"></i>影片管理</a>
        <a href="#" class=" item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>影厅管理</a>
        <a href="#" class=" item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="tasks icon"></i>排片设置</a>
        <a href="#" class=" item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class="book icon"></i>订单管理</a>
        <a href="#" class=" item m-mobile-hide" th:classappend="${n==5} ? 'active'"><i class="copy icon"></i>管理员设置</a>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="left menu m-padded-lr-responsive">
        <a href="#" class="teal active item">列表</a>
        <a href="#" th:href="@{/admin/tweet_edit}" class="item" >发布</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big " style="min-height: 50.5em !important;">
    <div class="ui container">

      <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${message}">操作成功！</p>
      </div>
      <div  class="ui segment form">
        <input type="hidden" name="page" >
        <div class="inline fields">
          <div class="field">
            <input type="text" name="title" placeholder="标题">
          </div>
          <div class="field">
            <button  type="button" id="search-btn" class="ui teal basic button"><i class="search icon"></i>搜索</button>
          </div>
        </div>
      </div>
      <div id="table-container">
        <table th:fragment="tweetList" class="ui compact teal table">
          <thead>
          <tr>
            <th></th>
            <th>类型</th>
            <th>标题</th>
            <!--<th>推荐</th>-->
            <th>状态</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="tweet,iterStat : ${page.content}">
            <td th:text="${iterStat.count}">1</td>
            <td class="m-td" th:text="${tweet.type}">认知升级</td>
            <td class="m-td" style="max-width: 350px!important;" th:text="${tweet.title}">刻意练习清单</td>
            <!--<td th:text="${blog.recommend} ? '是':'否'">是</td>-->
            <td class="m-td" th:text="${tweet.published} ? '已发布':'草稿'">草稿</td>
            <td class="m-td" th:text="${#dates.format(tweet.updateTime,'yyyy-MM-dd HH:mm')}">2017-10-02 09:45</td>
            <td>
              <a href="#" th:href="@{/admin/{id}/tweet_edit(id=${tweet.id})}" class="ui teal basic button">编辑</a>
              <a href="#"  class="tweet_delete ui red basic button" onclick="del(this)">删除</a>
              <input type="hidden" th:value="${tweet.id}">
            </td>
            <div class="ui basic modal" th:attr="class='ui basic modal o'+${tweet.id}">
              <div class="ui icon header">
                <i class="trash alternate icon" style="display: inline-block;margin-top: -20px;margin-right: 10px;"></i>
                确定要删除该影讯？
              </div>

              <div class="actions" style="text-align: center;">
                <div class="ui red basic cancel inverted button">
                  <i class="remove icon"></i>
                  No
                </div>
                <a th:href="@{/admin/{id}/tweet_delete(id=${tweet.id})}" class="ui green ok inverted button">
                  <i class="checkmark icon"></i>Yes</a>
              </div>
            </div>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="7">
              <div class="ui mini pagination menu" th:if="${page.totalPages}>1" >
                <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一页</a>
                <a onclick="page(this)" th:attr="data-page=${page.number}+1" class=" item" th:unless="${page.last}">下一页</a>
              </div>
              <a href="#" th:href="@{/admin/tweet_edit}" class="ui right floated teal basic button">新增</a>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="admin/_fragments  ::  footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">

      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2015 - 2019 / YifanCen / Powered by YifanCen in Amoy</p>
    </div>

  </footer>


  <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });

    // $('#clear-btn')
    //   .on('click', function() {
    //     $('.ui.type.dropdown')
    //       .dropdown('clear')
    //     ;
    //   })


    function page(obj) {
      $("[name='page']").val($(obj).data("page"));
      loaddata();
    }

    $("#search-btn").click(function () {
      $("[name='page']").val(0);
      loaddata();
    });
    function loaddata() {
      $("#table-container").load(/*[[@{/admin/tweets/search}]]*/"/admin/tweets/search",{
        title : $("[name='title']").val(),
        page : $("[name='page']").val()
      });
    }
    function del(s) {
      var id = s.nextElementSibling.value;
      $('.ui.basic.modal.o'+id).modal('show');
    }
  </script>
</body>
</html>